sudo: required

cache:
  directories:
  - $HOME/.composer/cache

git:
  depth: 1

language: php
php:
  - 7.0
  - 7.1

install:
  - composer install --prefer-dist

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)
